<!DOCTYPE HTML>
<HTML id="html" xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>-->
    <!--    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <link th:href="@{/styles/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/styles/cart.css}" rel="stylesheet" type="text/css">
    <link type="image/x-icon" th:href="@{/icons/favicon.png}" rel="shortcut icon">
    <link type="Image/x-icon" th:href="@{/icons/favicon.png}" rel="icon">
    <TITLE>
        Корзина
    </TITLE>
</HEAD>
<BODY>

<div th:insert="blocks/header :: header"></div>
<div class="cart-title">
    Корзина
</div>
<div id="cart-data" class="cart-data">
</div>
<div class="cart-total-price" id="cart-total-price">
</div>
<p class="order-form-title" id="order-form-title">Форма заказа </p>
<h1 class='error-message' id='error-message'
    th:text="${message.equals('error') ? 'Заказы могут делать только авторизованные пользователи' : ''}"></h1>
<div class="order-form" id="order-form">
    <form method="post" action="#" th:action="@{/order-confirmation}" name="order-data" th:object="${userOrder}"
          class="order-data">
        <!--        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
        <div class="form-field">
            <label for="POST-name">Имя </label>
            <input id="POST-name" required pattern="[a-zA-Z ,.'-]+$" placeholder="Введите имя" type="text" name="name"
                   th:field="*{name}">
        </div>

        <div class="form-field">
            <label for="POST-address">Адрес </label>
            <input id="POST-address" required placeholder="Введите адрес" type="text" name="address"
                   th:field="*{address}">
        </div>

        <div class="form-field">
            <label for="POST-email">E-mail </label>
            <input id="POST-email" required placeholder="Введите e-mail" type="text" name="e-mail" th:field="*{email}">
        </div>

        <div class="form-field">
            <input type="submit" id="conf-btn" value="Сделать заказ" class="confirmation-button" role="button" onclick="putOrderToForm()">
            <input type="hidden" name="items" value="" th:field="*{items}" id="items">
        </div>
    </form>
</div>
</BODY>
<script th:src="@{/scripts/jq.js}"></script>
<script th:src="@{/scripts/script.js}"></script>
<script th:src="@{/scripts/cart.js}"></script>
</HTML>