<div th:fragment="header">
    <div class="header">
        <div class="button-section">
            <button class="animated-button" onclick="toggleDropdown()">Каталог</button>
            <div class="dropdown-content" id="drpdwn">
                <button class="mini-animated-button"><a>Ножи</a></button>
                <button class="mini-animated-button"></button>
                <a>Автоматы</a></button>
                <button class="mini-animated-button"></button>
                <a>Пистолеты</a></button>
                <button class="mini-animated-button"></button>
                <a>Снайперские винтовки</a></button>
            </div>
            <button class="animated-button"><a href="/about">О нас</a></button>
            <button class="animated-button"><a href="/contacts">Контакты</a></button>
            <button class="animated-button"><a href="/shipping">Доставка</a></button>
        </div>
        <div class="icons-section">
            <div class="cart" id="cart"><a href="/cart"><img class="icons" th:src="@{icons/cart.svg}" alt=""></a>
                <div class="cart-cnt" id="cart-cnt"></div>
            </div>
            <a href="/signIn"><img class="icons" th:src="@{icons/user-page.svg}" alt=""></a>
        </div>
    </div>
    <div class="logo" ><a href="/"><img th:src="@{/images/logo.png}" alt="" class="logo-img"></a></div>
</div>