html {
    background-color: black;
}

@font-face {
    font-family: 'SF UI Display';
    src: url(../fonts/sfuidisplay_bold.ttf) format(truetype);
    font-style: normal;
    font-weight: normal;
}

.header {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    height: 80px;
    text-align: center;
    background-color: blueviolet;
    font-family: 'SF UI Display', sans-serif;
    color: azure;
}


.animated-button {
    text-decoration: none;
    position: relative;
    padding-top: 33px;
    padding-left: 100px;
    border: none;
    overflow: hidden;
    font-family: 'SF UI Display', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0);
    transition: color .3s, background .5s;
}

.mini-animated-button {
    text-decoration: none;
    position: relative;
    border: none;
    overflow: hidden;
    font-family: 'SF UI Display', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0);
    transition: color .3s;
}

.animated-button:hover {
    background-size: 10px 10px;
    color: black;
    cursor: pointer;
}

.mini-animated-button:hover {
    color: black;
    cursor: pointer;
}

.animated-button::-moz-focus-inner {
    border: 0;
}

::-moz-focus-outer, ::-moz-focus-inner {
    border: 0;
    padding: 0;
}


.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 80px;
    left: 30px; /*todo: fix dropdown-content positioning*/
    background-color: blueviolet;
    min-width: 160px;
    z-index: 1;
    font-family: 'SF UI Display', sans-serif;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    transition: color .3s;
}

.dropdown-content a:hover {
    color: black;
    cursor: pointer;
}

.show {
    display: inline-block;
}

.logo {
    display: inline;
    left: 10px;
    top: 0px;
    position: absolute;
    width: auto;
    height: auto;
}

.logo-img {
    width: 130px;
    height: 130px;
}

.logo-img:hover {
    cursor: pointer;
}

.icons {
    display: inline;
    position: relative;
    width: 30px;
    height: 30px;
    transition: color .4s, background .9s;
}

.icons:hover {
    filter: invert();
    cursor: pointer;
}

.icons-section {
    position: absolute;
    display: inline;
    padding-top: 22px;
    margin-left: 450px;
}

.button-section {
    position: relative;
    height: auto;
    width: auto;
    display: inline;
    padding-top: 200px;
}

.animated-button:hover a {
    color: black;
    transition: color .4s
}

.button-section a {
    text-decoration: none;
    color: white;
}

.cart {
    display: inline;
}

.text {
    color: white;
    font-family: 'SF UI Display', sans-serif;
    font-size: 18px;
}

.print-data {
    display: inline-block;
    margin-top: 30px;
    height: auto;
    width: auto;
    margin-left: 3em;
}

.item-data {
    display: inline-block;
    border: 2px solid;
    border-radius: 10px;
    border-color: blueviolet;
    margin: 10px 10px 10px 10px;
    text-align: center;
    color: white;
    font-size: 17px;
    font-family: 'SF UI Display', sans-serif;
    transition: box-shadow .2s;
}

.item-data:hover {
    box-shadow: 0 0 7px 3px blueviolet;
}

.btn {
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    color: blueviolet;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'SF UI Display', sans-serif;
    font-weight: 700;
}

.btn-ico {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: -10px;
    margin-top: -15px;
    transition: all 0.5s;
}

.btn-ico:hover {
    width: 35px;
    height: 35px;
}

.item-text {
    border: 1px solid;
    height: auto;
    width: 200px;
    margin-left: 155px;
    border-radius: 10px;
    border-color: blueviolet;
    color: white;
}

.cart {
    font-family: 'SF UI Display', sans-serif;
    display: inline-block;
    color: white;
    margin-right: 20px;
}

.cart:hover {
    color: #000;
}

.cart-cnt {
    position: absolute;
    font-size: 10px;
    margin-left: 30px;
    margin-top: -5px;
}
